.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 20;
	background-color: rgba(0, 0, 0, 0.75);
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -250px;
	width: 500px;
	height: 300px;
	background-color: var(--dark-10);
	padding: 24px;
	border-radius: 16px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
	z-index: 30;
	animation: slide-down 300ms ease-out forwards;
	text-align: center;
}

.modal .modal-title {
	font-size: 48px;
	font-weight: 400;
	margin-bottom: 24px;
}

.modal p {
	width: 420px;
	color: white;
}

.modal button {
	width: 300px;
	height: 40px;
	color: white;
	background-color: var(--brand-color-darker);
	border: 1px solid var(--brand-color-dark);
	box-shadow: 0px 0px 8px var(--brand-color-dark);
	border-radius: 8px;
	font-weight: 600;
	margin-top: 64px;
   outline: none;
	cursor: pointer;
   transition: .2s;
}

.modal button:hover {
	box-shadow: 0px 0px 16px var(--brand-color-dark);
}

.web {
   position: absolute;
   top: -30px;
   right: -30px;
   cursor: pointer;
}

@keyframes slide-down {
	from {
		opacity: 0;
		transform: translateY(-3rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
